<div class="contact-wrapper">
  <h2>Контакты</h2>
  <small>Свяжитесь с нами удобным для вас способом</small>

  <div class="contact-grid">
    <div class="contact-info">
      <h3>Контактная информация</h3>
      <ul>
        <li>Телефон: <span>info</span></li>
        <li>Email: <span>info</span></li>
        <li>VK: <span>info</span></li>
        <li>Telegram: <span>info</span></li>
      </ul>
    </div>
    <div class="contact-form-container">
      <h3>Форма обратной связи</h3>
      <small>Обычно отвечаем в течение одного рабочего дня</small>
      <div class="temp">
        <input type="text" class="half" placeholder="Ваше имя">
        <input type="tel" class="half" placeholder="Номер телефона для связи">
        <input type="email" class="full" placeholder="Email для ответа">
        <textarea rows="7" class="full" placeholder="Ваше сообщение, пожелание или вопрос"></textarea>
        <button type="submit">Отправить</button>
      </div>
    </div>
  </div>
</div>
