<h2 mat-dialog-title>Добавить картину в каталог</h2>
<form [formGroup]="worksAddForm">
<mat-dialog-content class="work-add-dialog">
  <div>
    <mat-form-field>
      <input matInput placeholder="Название" formControlName="title">
    </mat-form-field>
    <div *ngIf="worksAddForm.controls.title.invalid && (worksAddForm.controls.title.touched || worksAddForm.controls.title.dirty)">
      <mat-error *ngIf="worksAddForm.controls.title.errors.required">Это поле обязательное</mat-error>
      <mat-error *ngIf="worksAddForm.controls.title.errors.minlength">Это поле должно содержать не менее 3-х символов</mat-error>
      <mat-error *ngIf="worksAddForm.controls.title.errors.maxlength">Это поле должно содержать не более 70-ти символов</mat-error>
    </div>
  </div>

  <div class="half">
    <mat-form-field>
      <mat-select placeholder="Жанр" formControlName="genre" (change)="changeGenre()">
        <mat-option *ngFor="let genre of genres$ | async" value="{{ genre.title }}">{{ genre.title }}</mat-option>
      </mat-select>
    </mat-form-field>
    <input type="hidden" formControlName="genre_alias" [(ngModel)]="genre.alias">
    <div *ngIf="worksAddForm.controls.genre.invalid && (worksAddForm.controls.genre.touched || worksAddForm.controls.genre.dirty)">
      <mat-error *ngIf="worksAddForm.controls.genre.errors.required">Это поле обязательное</mat-error>
    </div>
  </div>

  <div class="half">
    <mat-form-field>
      <mat-select placeholder="Художник" formControlName="creator" (change)="changeCreator()">
        <mat-option *ngFor="let creator of creatorsOptions" value="{{ creator.name }}">{{ creator.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <input type="hidden" formControlName="creator_username" [(ngModel)]="creator.username">
  </div>

  <mat-form-field>
    <textarea matInput placeholder="Описание" formControlName="description"></textarea>
  </mat-form-field>
  <div *ngIf="worksAddForm.controls.description.invalid && (worksAddForm.controls.description.touched || worksAddForm.controls.description.dirty)">
    <mat-error *ngIf="worksAddForm.controls.description.errors.required">Это поле обязательное</mat-error>
    <mat-error *ngIf="worksAddForm.controls.description.errors.minlength">Это поле должно содержать не менее 50-х символов</mat-error>
    <mat-error *ngIf="worksAddForm.controls.description.errors.maxlength">Это поле должно содержать не более 5 000 символов</mat-error>
  </div>

  <div class="half">
    <mat-form-field>
      <input matInput placeholder="Цена" type="number" formControlName="price">
    </mat-form-field>
    <div *ngIf="worksAddForm.controls.price.invalid && (worksAddForm.controls.price.touched || worksAddForm.controls.price.dirty)">
      <mat-error *ngIf="worksAddForm.controls.price.errors.required">Это поле обязательное</mat-error>
      <mat-error *ngIf="worksAddForm.controls.price.errors.min">Цена не может быть меньше нуля</mat-error>
    </div>
  </div>

  <div class="half">
    <mat-form-field>
      <input matInput placeholder="Ссылка" formControlName="link">
    </mat-form-field>
    <div *ngIf="worksAddForm.controls.link.invalid && (worksAddForm.controls.link.touched || worksAddForm.controls.link.dirty)">
      <mat-error *ngIf="worksAddForm.controls.link.errors.required">Это поле обязательное</mat-error>
      <mat-error *ngIf="worksAddForm.controls.link.errors.minlength">Это поле должно содержать не менее 3-х символов</mat-error>
      <mat-error *ngIf="worksAddForm.controls.link.errors.maxlength">Это поле должно содержать не более 20-ти символов</mat-error>
      <mat-error *ngIf="worksAddForm.controls.link.errors.pattern">Это поле должно содержать строчные латинские буквы, цифры, прочерк и нижнее подчеркивание</mat-error>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="work-add-dialog-actions">
  <button mat-button mat-dialog-close>Отменить</button>
  <!-- Can optionally provide a result for the closing dialog. -->
  <button mat-raised-button color="primary" [mat-dialog-close]="true" [disabled]="worksAddForm.invalid" (click)="onSubmit($event.target, 'Сохраняю...')">Добавить в каталог</button>
</mat-dialog-actions>
</form>