.work-add-dialog
    display: flex
    flex-wrap: wrap
    mat-form-field
        width: 100%
    div
        width: 100%
        &.half
            width: 50%
.work-add-dialog-actions
    float: right

.btn-choose-photo
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 1rem
    .thumbnail-info
        margin: 1rem 0
.work-add-chosenPhotos
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr
    grid-gap: 0.5rem 0.5rem
    div
        img
            height: 100px
            box-shadow: 0px 2px 5px 3px rgba(#333333, 0.2)
.delete-instructions
    margin: 0.5rem 0
    font-weight: 100