@keyframes particles
  from
    opacity: 0
  to
    opacity: 1

#particles-js
  height: 250px
  margin: 0rem 0 1rem 0
  padding: 1rem
  background-color: rgba(black, 0.85)
  opacity: 0
  &.loaded
    animation: particles 0.35s ease-out forwards
  h1
    margin-top: -3.5rem
    transform: translateY(5rem)
    font-size: 3.5rem
    font-weight: 700
    text-align: center
    color: white
    text-shadow: 0px 4px 3px black
  small
    display: block
    transform: translateY(6.5rem)
    text-align: center
    font-weight: 100
    font-size: 2.5rem
    color: rgba(ghostwhite, 0.9)
    letter-spacing: 3px
.news-item
  margin-bottom: 1rem
  padding: 1rem
  background-color: white
  transition: all 0.35s ease-out
  font-weight: 100
  color: rgba(#333333, 0.95)
  line-height: 1.35rem
  &:hover
    box-shadow: 0 5px 7px rgba(0,0,0,0.2)
  h2
    margin-bottom: 1rem
    font-size: 1.75rem
    font-weight: 500
    color: black
  .news-item-date
    margin-top: 1rem
    text-align: right
    opacity: 0.8
  hr
    margin: 1.5rem 0
    border: none
    height: 1px
    background-color: rgba(#555555, 0.6)
.news-item-footer
  &:after
    content: ''
    display: table
    clear: both
.news-item-btn-full
  float: right
  padding: 0.75rem
  border-radius: 2px
  color: white
  background-color: rgba(black, 0.8)
  font-weight: 300
  letter-spacing: 1px
  transition: all 0.35s ease-out
  cursor: pointer
  &:hover
    background-color: rgba(black, 1)

@media screen and (max-width: 600px)
  #particles-js
    h1
      font-size: 3rem
    small
      font-size: 2rem