<div [ngClass]="particlesLoaded ? 'loaded' : ''" id="particles-js">
  <h1>One Art</h1>
  <small>Место, где живет настоящее исскуство</small>
</div>
<div [@goals]="newsList?.length" class="news-container">
  <div *ngFor="let news of newsList" class="news-item">
    <h2>{{ news.title }}</h2>
    <div [innerHTML]="news.desc_brief | safeHtml"></div>
    <p class="news-item-date">{{ news.date_start | date:'longDate':'':'ru' }}</p>
    <hr>
    <div class="news-item-footer">
      <div class="news-item-btn-full" routerLink="/news/{{ news.link }}">Подробнее &gt;&gt;</div>
    </div>
  </div>
</div>