<div class="admin-genres">
  <div class="admin-header">
    <div class="admin-title">
      <h2>Жанры</h2>
      <small>Управление всеми жанрами</small>
    </div>
    <div class="admin-buttons">
      <button mat-raised-button color="primary" (click)="openDialog()">Добавить <mat-icon>add</mat-icon></button>
    </div>
  </div>
  <div class="admin-table-container">
    <div class="table-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Поиск">
      </mat-form-field>
    </div>
  
    <mat-table #table [dataSource]="dataSource" matSort>
  
      <!-- Position Column -->
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Название </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="alias">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Алиас </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.alias}} </mat-cell>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> Опции </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="edit(element.id)"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button color="warn" (click)="delete(element.id)"><mat-icon>delete</mat-icon></button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>      
</div>