.gallery
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr
    grid-gap: 2rem 2rem
.gallery-item
    background: #ffffff
    transition: box-shadow .35s ease-out, transform .3s ease-out, opacity .2s ease-out
    &:hover, &:active
        box-shadow: 0 15px 20px rgba(0,0,0,0.2)
        transform: translate(0, -4px)
        opacity: 1 !important
        .gallery-item-photo
            height: calc(100vw / 4 - 5 * 2rem - 2.75rem)
        .gallery-item-body
            margin-top: 2.75rem
        
.gallery-item-photo
    width: 100%
    height: calc(100vw / 4 - 5 * 2rem)
    margin-top: -2.75rem
    background-size: cover
    background-position: center center
    transition: all 0.35s ease-out
    transform: translateY(2.75rem)
.gallery-item-body
    display: flex
    justify-content: space-between
    background: #333333
    transition: all 0.35s ease-out
.gallery-item-button
    width: calc(50% - 0.5px)
    padding: 1.25em
    color: #f4f4f4
    text-align: center
    font-size: 0.75em
    font-weight: 300
    text-transform: uppercase
    background: #000000
    cursor: pointer
    transition: all 0.3s ease-out
    &:hover, &:active
        background: #313131
.gallery-item-footer
    display: flex
    align-items: center
    flex-direction: column
    padding: 1.5rem
    h3
        font-weight: 700
    small
        margin-top: 0.5rem
        color: #333333
        font-weight: 100

@media screen and (max-width: 1366px)
    .gallery
        grid-template-columns: 1fr 1fr 1fr
    .gallery-item
        &:hover, &:active
            .gallery-item-photo
                height: calc(100vw / 3 - 6 * 2rem - 2.75rem)
    .gallery-item-photo
        height: calc(100vw / 3 - 6 * 2rem)

@media screen and (max-width: 1024px)
    .gallery
        grid-template-columns: 1fr 1fr
    .gallery-item
        &:hover, &:active
            .gallery-item-photo
                height: calc(100vw / 2 - 7 * 2rem - 2.75rem)
    .gallery-item-photo
        height: calc(100vw / 2 - 7 * 2rem)

@media screen and (max-width: 900px)
    .gallery
        grid-template-columns: 1fr 1fr
    .gallery-item
        &:hover, &:active
            .gallery-item-photo
                height: calc(100vw / 2 - 4 * 2rem - 2.75rem)
    .gallery-item-photo
        height: calc(100vw / 2 - 4 * 2rem)

@media screen and (max-width: 900px)
    .gallery
        grid-template-columns: 1fr
    .gallery-item
        &:hover, &:active
            .gallery-item-photo
                height: calc(100vw / 1 - 6 * 2rem - 2.75rem)
    .gallery-item-photo
        height: calc(100vw / 1 - 6 * 2rem)