.work-title 
    font-size: 2.5rem
    font-weight: 700
    text-align: center
    text-transform: uppercase
.work-genre
    display: block
    margin: 1rem 0
    font-weight: 100
    color: #555555
    text-align: center
.work-image-slider
    width: 100%
    img
        height: 300px
.work-content
    display: flex
    margin-top: 2rem
.work-description
    width: 70%
    padding-right: 2rem
    color: #555555
    font-weight: 300
    h2
        display: inline
        padding-bottom: 3px
        border-bottom: solid 3px black
        font-weight: 700
        font-size: 1.75rem
        color: black
    hr
        display: block
        height: 1px
        border: none
        background-color: #777777
.work-details
    width: 30%
    padding-left: 2rem
    color: #555555
    font-weight: 300
    h2
        display: inline
        padding-bottom: 3px
        border-bottom: solid 3px black
        font-weight: 700
        font-size: 1.75rem
        color: black
    hr
        display: block
        height: 1px
        border: none
        background-color: #777777
    table
        width: 100%
        tr
            border-bottom: dotted 1px #555555
            &:last-child
                border: none
            td
                padding: 1rem 0
                color: #555555
                &:first-child
                    color: #333333
                    font-weight: 700
.work-btn-buy
    width: 100%
    padding: 1.5rem
    text-transform: uppercase
    font-size: 1.5rem
    font-weight: 100
    background-color: #000000
    color: #ededed
    border: none
    transition: all 0.3s ease-out
    cursor: pointer
    letter-spacing: 2px
    &:hover
        background-color: rgba(#000000, 0.85)
