<mat-list class="sidenav-list">
  <mat-list-item [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/admin/dashboard">Статистика</a></mat-list-item>
  <mat-list-item [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/admin/works">Картины</a></mat-list-item>
  <mat-list-item [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/admin/genres">Жанры</a></mat-list-item>
  <mat-list-item [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/admin/creators">Художники</a></mat-list-item>
  <mat-list-item [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/admin/settings">Настройки</a></mat-list-item>
</mat-list>