<mat-list class="sidenav-list">
  <mat-list-item [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
    <mat-icon>dashboard</mat-icon> <a routerLink="/admin/dashboard">Статистика</a>
  </mat-list-item>
  <mat-list-item [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
    <mat-icon>dvr</mat-icon> <a routerLink="/admin/news">Новости</a>
  </mat-list-item>
  <mat-list-item [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
    <mat-icon>collections</mat-icon> <a routerLink="/admin/works">Картины</a>
  </mat-list-item>
  <mat-list-item [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
    <mat-icon>landscape</mat-icon> <a routerLink="/admin/genres">Жанры</a>
  </mat-list-item>
  <mat-list-item [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
    <mat-icon>people</mat-icon> <a routerLink="/admin/creators">Художники</a>
  </mat-list-item>
  <mat-list-item [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
    <mat-icon>monetization_on</mat-icon> <a routerLink="/admin/buy-requests">Заказы</a>
  </mat-list-item>
  <mat-list-item [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
    <mat-icon>question_answer</mat-icon> <a routerLink="/admin/contact-requests">Контакты</a>
  </mat-list-item>
  <mat-list-item [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
    <mat-icon>cloud_upload</mat-icon> <a routerLink="/admin/upload">Файлы</a>
  </mat-list-item>
  <mat-list-item [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
    <mat-icon>settings</mat-icon> <a routerLink="/admin/settings">Настройки</a>
  </mat-list-item>
</mat-list>