<div class="menu-brand">
  <h1>OneArt</h1>
  <div class="mobile-menu-toggler" [ngClass]="mobileMenuOpen ? 'mobile-menu-toggler--open' : ''" (click)="mobileMenuOpen = !mobileMenuOpen">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<nav class="menu-nav" [ngClass]="mobileMenuOpen ? 'menu-nav-mobile--open' : ''">
  <ul>
    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="hvr-underline-from-left"><a routerLink="/">Главная</a></li>
    <li [routerLinkActive]="['active']" routerLink="/works" class="hvr-underline-from-left">Все картины</li>
    <li [routerLinkActive]="['active']" routerLink="/genres" class="hvr-underline-from-left">Жанры картин</li>
    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/about" class="hvr-underline-from-left">О нас</li>
    <li [routerLinkActive]="['active']" routerLink="/contact" class="hvr-underline-from-left">Контакты</li>
  </ul>
</nav>
<div class="menu-contact">
  <div *ngIf="displayAddress" class="menu-contact-item menu-contact-address">
    <a (click)="toggleMap($event)"><i class="fa fa-map-marker"></i> Адрес на карте</a>
  </div>
  <address class="menu-contact-item menu-contact-phone">
    <h3>Телефон</h3>
    <p><a href="tel:+{{ site.phone_main | onlyNumbers }}">{{ site.phone_main }}</a></p>
  </address>
  <address class="menu-contact-item menu-contact-email">
    <h3>Email</h3>
    <p><a href="mailto:{{ site.email_general }}">{{ site.email_general }}</a></p>
  </address>
</div>
